/* Sección Estudios */
.containerEstudio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1200px;
    padding: 20px; /* Añadir padding para espacios pequeños */
}

.estudios {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C5D397;
    padding: 20px 50px; /* Reducir el padding para dispositivos más pequeños */
    border-radius: 10px;
    max-width: 100%;
}

.estudio {
    display: flex;
    flex-direction: column; /* Cambiar a columna para dispositivos pequeños */
    width: 100%;
    max-width: 1100px;
    margin: 20px 0;
    border: 3px solid #8B6E5A;
    border-radius: 10px;
    overflow: hidden;
}

.estudioImg {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 35%;
    margin: auto; /* Centrar imagen */
}

.estudioContenido {
    padding: 15px;
    text-align: center; /* Alinear texto al centro en dispositivos pequeños */
}

.estudioNombre {
    color: #7B6353;
}

.estudioAnio {
    font-size: 170%;
    color: #9A7960;
}

.estudioTexto {
    margin-top: 10px;
    font-size: 145%;
}

/* Media query para diseño responsive */
@media (max-width: 768px) {
    .estudios {
        padding: 20px 20px; /* Ajustar padding para pantallas pequeñas */
    }

    .estudio {
        flex-direction: column; /* Cambiar dirección a columna en pantallas pequeñas */
        align-items: center; /* Centrar elementos en columna */
    }

    .estudioImg {
        margin-bottom: 15px; /* Añadir margen inferior para separación */
    }

    .estudioAnio {
        font-size: 150%; /* Ajustar tamaño de fuente */
    }

    .estudioTexto {
        font-size: 125%; /* Ajustar tamaño de fuente */
    }
}

@media (max-width: 480px) {
    .estudios {
        padding: 15px 10px; /* Ajustar padding para pantallas extra pequeñas */
    }

    .estudioAnio {
        font-size: 130%; /* Ajustar tamaño de fuente */
    }

    .estudioTexto {
        font-size: 115%; /* Ajustar tamaño de fuente */
    }
}
