/* Sección de Contacto */
.containerContacto {
    background-color: #C5D397;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Ajustar el ancho para que ocupe todo el ancho de la página */
    margin: 0; /* Eliminar el centrado del contenedor */
}

.contacto h2 {
    color: #4D3628;
    margin-bottom: 20px;
    font-size: 36px; /* Ajustar tamaño de la fuente */
}

.label {
    display: block;
    align-items: center;
    color: #6C584C;
}

.input {
    border-radius: 10%;
    background-color: #dde4bb;
    border-color: #A98467;
    width: -webkit-fill-available;
    height: 35px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px; /* Limitar el ancho máximo del formulario */
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A98467;
    border-radius: 3px;
    width: 100%; /* Hacer que los campos de entrada ocupen todo el ancho disponible */
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    background-color: #8B6E5A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #6C584C;
}

/* Media query para pantallas medianas (tabletas) */
@media (max-width: 1023px) {
    .containerContacto {
        padding: 20px;
    }

    .contacto h2 {
        font-size: 28px; /* Reducir tamaño de la fuente */
    }

    form {
        max-width: 100%; /* Ajustar el ancho máximo del formulario */
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .containerContacto {
        padding: 15px;
    }

    .contacto h2 {
        font-size: 24px; /* Reducir tamaño de la fuente */
    }

    form {
        width: 100%; /* Ajustar el ancho del formulario */
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 16px; /* Ajustar tamaño de la fuente */
    }

    button {
        font-size: 16px; /* Ajustar tamaño de la fuente */
        padding: 8px 16px; /* Ajustar padding del botón */
    }
}
