/* Sección Lenguajes */
.lenguajesSection h2 {
    font-size: 48px;
    text-align: center;
    margin: auto;
}

.containerLenguajes {
    max-width: 1200px; /* Increased max-width for wider container */
    margin: 40px auto;
    padding: 20px;
    background-color: #A98467;
    align-items: center;
    width: 90%; /* Increased width for wider container */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 2%;
}

.lenguajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lenguajes h2 {
    text-align: center;
    color: #6C584C;
}

.lenguaje {
    background-color: #ADC178;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
}

.lenguaje ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.lenguaje li {
    font-size: 120%;
    color: black;
    margin-bottom: 2%;
}

.lenguaje .iconos {
    width: 50%;
    height: auto;
    max-width: 300px;
}

/* Media query para pantallas medianas (tabletas) */
@media (max-width: 1023px) {
    .lenguaje {
        width: 45%; /* Cambiar a dos columnas */
    }

    .lenguaje li {
        font-size: 110%; /* Ajustar tamaño de fuente */
    }

    .lenguaje .iconos {
        width: 60%; /* Ajustar tamaño de iconos */
    }

    .lenguajesSection h2 {
        font-size: 36px; /* Reducir tamaño de la fuente */
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .containerLenguajes {
        padding: 20px 10px; /* Ajustar padding para móviles */
    }

    .lenguaje {
        width: 100%; /* Cambiar a una columna */
        margin: 10px 0; /* Ajustar margen para mejor separación */
    }

    .lenguaje li {
        font-size: 100%; /* Ajustar tamaño de fuente */
    }

    .lenguaje .iconos {
        width: 70%; /* Ajustar tamaño de iconos */
    }

    .lenguajesSection h2 {
        font-size: 28px; /* Reducir tamaño de la fuente */
    }
}
