/* Sección Proyectos */
.proyectos h2 {
    font-size: 48px;
    text-align: center;
    margin: auto;
}

.containerProyectos {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.proyectos {
    width: 80%;
    padding: 60px 0;
    margin: auto;
}

.proyecto {
    border-radius: 10px;
    padding: 15px;
    width: 32%;
    text-align: center;
    background-color: #C5D397;
    margin-bottom: 20px;
}

.proyecto img {
    width: 75%;
    height: auto;
    border-radius: 10px;
}

.proyecto a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ABA370;
    color: #4D3628;
    border-radius: 5px;
}

.proyecto a:hover {
    background-color: #A98467;
}

/* Media query para pantallas medianas (tabletas) */
@media (max-width: 1023px) {
    .proyecto {
        width: 48%; /* Cambiar a dos columnas */
    }
    
    .proyectos h2 {
        font-size: 36px; /* Reducir tamaño de la fuente */
    }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .proyectos {
        width: 100%;
        padding: 40px 10px; /* Ajustar padding para móviles */
    }

    .containerProyectos {
        justify-content: center; /* Centrar proyectos en pantallas pequeñas */
    }

    .proyecto {
        width: 100%; /* Cambiar a una columna */
        margin-bottom: 20px; /* Añadir margen inferior para separación */
    }

    .proyectos h2 {
        font-size: 28px; /* Reducir tamaño de la fuente */
    }

    .proyecto img {
        width: 90%; /* Ajustar el ancho de la imagen */
    }
    
    .proyecto a {
        padding: 8px 12px; /* Ajustar padding del botón */
        font-size: 16px; /* Ajustar tamaño de la fuente del botón */
    }
}
